<app-button></app-button>
<app-autocomplete></app-autocomplete>
<app-badge></app-badge>
<app-button-toggle></app-button-toggle>
<app-cards></app-cards>
<app-checkbox></app-checkbox>
<app-datatable></app-datatable>
<app-icons></app-icons>
<app-dialog></app-dialog>
<app-menu></app-menu>
<app-toolbar></app-toolbar>

